body, html {
    width: 400px;
    height: 500px;
    font-family: Arial, sans-serif;
}

.toggle, .translator {
    margin: 10px;
}

/* Buttons */

#toggleTranslation, #translateBtn {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; /* Rounded corners */
}


#switchDirectionBtn {
    font-size: 20px;
    cursor: pointer;
}

#toggleTranslation:hover, #translateWebPageBtn {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; /* Rounded corners */
}


/* Text */ 


#sourceText {
    width: calc(100% - 20px);
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    resize: none; /* Prevent resizing */
}

#translationResult{
    width: calc(100% - 20px);
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    resize: none; /* Prevent resizing */
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-box {
    display: flex;
    flex-direction: column;
}

textarea {
    width: calc(100% - 20px);
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    resize: none; /* Prevent resizing */
}